#clock {
}

.clock__center {
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid black;
}
.clock__hour {
    position: absolute;
    width: 3px;
    height: 30px;
    background-color: red;
}
.clock__minute .clock__second;
