.cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    background: url("../img/cursor1.png") no-repeat center center / cover;
    border-radius: 50%;
    transform: translate(10%, 55%);
    z-index: 2;
}
.cursor.v2 {
    background: url("../img/cursor2.png") no-repeat center center / cover;
}
