.drop-heart {
    position: absolute;
    width: 10px;
    height: 10px;
    top: -250px;
    z-index: -10;
}

@keyframes drop {
    from {
    }
    to {
        top: calc(90vh);
        opacity: 0;
    }
}
