@import url("reset.css");
@import url("drop-heart.css");
@import url("cursor.css");
@import url("todo.css");

body {
    position: relative;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    background-image: linear-gradient(
            90deg,
            transparent 79px,
            #abced4 79px,
            #abced4 81px,
            transparent 81px
        ),
        linear-gradient(#eee 0.1em, transparent 0.1em);
    background-size: 100% 1.2em;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-align: center;
}

main {
    flex-grow: 1;
}

aside {
    width: 30%;
}

.hidden {
    display: none;
}
