.todo-box {
    position: relative;
}

.todo-box__form {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1;
    width: 200px;
    border-radius: 5px;
}
.todo-box__form input {
    width: 100%;
    padding: 5px 10px;
    border: 0;
    border-radius: 10px;
    box-sizing: border-box;
}

.todo-box__list {
    position: relative;
    overflow-y: auto;
    width: 220px;
    height: 400px;
    padding: 30px 10px;
    background-color: #46bfbf;
    border: 5px solid #323232;
    border-radius: 20px;
    box-sizing: border-box;
}

.todo-box__list::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 15px;
    background-color: #323232;
    border-radius: 0 0 15px 15px;
}

.todo-box__list::after {
    content: "";
    position: absolute;
    top: 0;
    left: 60%;
    width: 5px;
    height: 5px;
    background-color: #767676;
    border-radius: 50%;
}

.todo-box__list li {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #f2e3d5;
    box-sizing: border-box;
    word-break: break-all;
}
.todo-box__list li span {
    width: calc(100% - 30px);
    font-size: 14px;
    line-height: 20px;
}

.todo-box__list .todo-list__title {
    justify-content: center;
    background: none;
    color: #fff;
}
