.openCheckBox:has(#openTodoCheck:checked) ~ .todo-box {
    bottom: 0;
}

.todo-box {
    position: absolute;
    bottom: -330px;
    left: -110px;
    width: 220px;
    height: 400px;
    padding: 30px 10px;
    background-color: var(--blue);
    border: 5px solid var(--black);
    border-radius: 20px;
    box-sizing: border-box;
    transition: bottom var(--label-second) ease-in-out;
    z-index: 1;
}

.todo-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 15px;
    background-color: var(--black);
    border-radius: 0 0 15px 15px;
}

.todo-box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 60%;
    width: 5px;
    height: 5px;
    background-color: var(--gray);
    border-radius: 50%;
}

.todo-box .todo-list__title {
    margin-bottom: 20px;
    background: none;
    color: #fff;
    text-align: center;
    font-size: 18px;
}

.todo-box__list {
    height: 280px;
    overflow-y: auto;
}

@supports (-webkit-border-before: initial) {
    .todo-box__list::-webkit-scrollbar {
        width: 5px;
    }
    .todo-box__list::-webkit-scrollbar-track {
        background: transparent;
    }
    .todo-box__list::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 20px;
        border: 0;
    }
}

.todo-box__list li {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #fff1e4;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: start;
    word-break: break-all;
    transition: all 50ms ease-in-out;
}

.todo-box__list li:hover {
    scale: 0.98;
    background-color: #e0d2c5;
}

.todo-box__list li span {
    width: calc(100% - 30px);
    font-size: 14px;
    line-height: 20px;
}

.todo-box__form {
    position: absolute;
    bottom: 8px;
    left: 5px;
    z-index: 1;
    width: 200px;
    border-radius: 5px;
    z-index: 2;
}
.todo-box__form input {
    width: 100%;
    padding: 5px 10px;
    border: 0;
    border-radius: 10px;
    box-sizing: border-box;
}
