:root {
    --yellow: #fff59c;
    --beige: #f2e3d5;
    --blue: #1e90ff;
    --deep-blue: #1562ad;
    --light-blue: #8fc8ff;
    --black: #323232;
    --gray: #dbdbdb;
    --light-gray: #f8f8f8;
    --label-second: 0.5s;
}
