#weather {
    position: relative;
    left: 100%;
    display: block;
    min-height: 105px;
    padding: 10px;
    background-color: var(--blue);
    border-radius: 10px;
    color: #fff;
    box-sizing: border-box;
    transition: all var(--label-second);
}

.openCheckBox:has(#openWeatherCheck:checked) ~ #weather {
    left: 0;
}

#weather div:last-child {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
}

.weather__icon {
    font-size: 30px;
    margin-right: 5px;
}

.weather__icon i {
    scale: 1;
    transform: none;
    transition: all 0.5s ease-in-out;
}

#weather:hover .weather__icon i {
    scale: 0.9;
    transform: rotate(30deg);
}

.weather__temp {
    font-size: 18px;
    color: var(--yellow);
}
